/* susana*/
.titleFund {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  background-color: #E84542;
  color: #D2D5D8;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px; }

.photoFund {
  width: 450px;
  height: 320px; }

.fundBoxLeft {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 320px;
  background-color: rgba(12,22,36,1);
  background-color: -moz-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,22,36,1)), color-stop(1%, rgba(12,22,36,1)), color-stop(100%, rgba(21,40,68,1)));
 background: -webkit-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
 background: -o-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
 background: -ms-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
 background: linear-gradient(to bottom, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1624', endColorstr='#152844', GradientType=0 );
 }

.textLeft {
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  padding: 50px; }

.fundBoxRight {
  height: 320px;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  background: rgba(12,22,36,1);
  background: -moz-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,22,36,1)), color-stop(1%, rgba(12,22,36,1)), color-stop(100%, rgba(21,40,68,1)));
background: -webkit-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
background: -o-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
background: -ms-linear-gradient(top, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
background: linear-gradient(to bottom, rgba(12,22,36,1) 0%, rgba(12,22,36,1) 1%, rgba(21,40,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1624', endColorstr='#152844', GradientType=0 );
}

.textRight {
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  padding: 50px; }

.btnInfo {
  width: 150px;
  height: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #E84542;
  color: #D2D5D8;
  border: 1px solid;
  border-color: #D2D5D8;
  border-radius: 5px; }

.name {
  margin: 0;
  font-family: 'Playfair Display', serif; }

@media (max-width: 700px) {
  .fundBoxLeft {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }

  .textLeft {
    margin-right: 0px; }

  .fundBoxRight {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }

  .textRight {
    margin-left: 0px; } }
