#main-header {
  background: #fafafa;
  position: absolute;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 999;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
.menu-web {
  display: flex;
  list-style: none;
}
.menu-mobile{
  display: none;
}
.nav-list {
    color: black;
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
}

.nav-list:hover{
  color: $primary-color;
}

@media (min-width: 768px){
  .btn-menu-mobile{
    display: none;
  }

  .menu-mobile.active{
    display: none;
    // width: 100%;
  }
}

@media (max-width:768px){

  .MediaLab-text {
    padding-left: 100px;
    padding-right: 100px;
  }

  #main-header {
       display: inline-block;
       width: 100%;
       padding: 0;
   }
   .menu-web {
       display: none;
   }

   .logo-greyhound {
       display: flex;
       align-items: center;
       margin-left: 15px;
   }
   .responsive {
       display: flex;
       justify-content: space-between;
       width: 100%;
       height: 80px;

   }
   .hero_container {
       width: 100%;
   }
   .menu-mobile {
       display: flex;
       text-align: center;
       justify-content: flex-end;
       align-items: flex-end;
       flex-direction: column;
       list-style: none;
       margin-top: 0px;
       display: none;
       animation-name: fadeInRight;
       animation-duration: 2s;
       background-color: $primary-color;
      //  margin-left: 60%;

   }
   .nav-list-mobile {
       line-height: 30px;
       color: white;
       padding: 15px;
   }
   .btn-menu-mobile {
       display: block;
   }
   @keyframes fadeInRight {
       from {
           opacity: 0;
           transform: translate3d(100%, 0, 0);
       }
       to {
           opacity: 1;
           transform: none;
       }
   }
 }
