
.hero_container{
  width: 100%;
  height: 550px;
  background-color: grey;
}


.adalab {
  background-color: #fafafa;
  text-align: center;
  padding-bottom: 30px;
}

.logo{
  padding-top: $unit;
}

.adalab-text {
  padding-left: $unit * 5;
  padding-right: $unit * 5;
  color: #555555;
  font-size: 20px;
  margin-top: $unit;
}

@media (max-width:800px){
  .adalab-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}




.container-about{
  margin: 20px 50px 30px;
}

.about-left{
  display: flex;
  align-items: flex-start;
  height: 322px;
}

.text-right{
  margin-left: 200px;
}

.about-right{
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: flex-start;
}

.text-left{
  margin-right: 200px;
}

.name{
  margin: 0;
}

@media (max-width:700px){
  .about-left{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .text-left{
    margin-right: 0px;
  }
  .about-right{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .text-right{
    margin-left: 0px;
  }
}


.footer{
  width: 100%;
  background-color: $primary-color;
  color: white;
  font-family: $default-font-family;
  position: relative;
  padding: 15px;
}

.info{
  display: flex;
  margin-bottom: 5px;
  margin-left: 40px;
}

.contact{
  width: 250px;
}

.place{
  display: flex;
  font-size: 12px;
}

.place img{
  width: 15px;
  margin-right: 5px;
}

.place p{
  margin: 0;
  padding: 0;
}

.icon{
  width: 30px;
  margin-right: 8px;
  transition: all 0.5s;
}

.icon:hover{
  opacity: 0.8;
}

.copyright{
  text-align: center;
  margin:0;
}
