* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px; }

a {
  text-decoration: none; }

.up {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #152844;
  position: absolute;
  right: 40px;
  top: -30px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center; }

.up img {
  width: 20px;
  height: 20px; }

.icons-about {
  width: 30px; }

.btn-menu-mobile {
  text-decoration: none;
  background-color: #fafafa;
  border: none;
  display: none; }

#main-header {
  background: #fafafa;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 999;
  -webkit-box-shadow: 6px 21px 24px -28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 21px 24px -28px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 21px 24px -28px rgba(0, 0, 0, 0.75); }

.menu-web {
  display: flex;
  list-style: none; }

.menu-mobile {
  display: none; }

.nav-list {
  color: black;
  text-decoration: none;
  list-style: none;
  margin-left: 15px; }

.nav-list:hover {
  color: #152844; }

/*Part Hero---------------------*/
.heroImage {
  background-image: url("../../img/path.jpg");
  width: 100%;
  height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center; }

.heroText {
  text-align: center;
  position: relative;
  justify-content: center;
  top: 40%;
  bottom: 30%;
  transform: -50%, -50%;
  color: white;
  font-size: 40px; }

.buttonHero, .buttonHero a {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-family: 'Arima Madurai', cursive;
  font-size: 35px;
  padding: 15px;
  color: white; }

.buttonHero:hover {
  background-color: #152875; }

@media (min-width: 300px) and (max-width: 800px) {
  .buttonHero {
    font-size: 25px; }

  .textHero {
    font-size: 30px; }

  .titleHero {
    font-size: 50px; } }
.hero_container {
  width: 100%;
  height: 550px;
  background-color: grey; }

.heroImage {
  background-image: url("/img/path.jpg");
  width: 100%;
  height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.heroText {
  text-align: center;
  position: relative; }

.adalab {
  background-color: #fafafa;
  text-align: center;
  padding-bottom: 30px; }

.logo {
  padding-top: 20px; }

.adalab-text {
  padding-left: 100px;
  padding-right: 100px;
  color: #555555;
  font-size: 20px;
  margin-top: 20px; }

/* susana*/
.titleFund {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  background-color: #E84542;
  color: #D2D5D8;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px; }

.photoFund {
  width: 450px;
  height: 320px; }

.fundBoxLeft {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 320px;
  background-color: #152844; }

.textLeft {
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  padding: 50px; }

.fundBoxRight {
  height: 320px;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  background-color: #152844; }

.textRight {
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  padding: 50px; }

.btnInfo {
  width: 150px;
  height: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #E84542;
  color: #D2D5D8;
  border: 1px solid;
  border-color: #D2D5D8;
  border-radius: 5px; }

.name {
  margin: 0;
  font-family: 'Playfair Display', serif; }

@media (max-width: 700px) {
  .adalab-text {
    padding-left: 100px;
    padding-right: 100px; }

  #main-header {
    display: inline-block;
    width: 100%;
    padding: 0; }

  .menu-web {
    display: none; }

  .menu-responsive {
    display: flex;
    justify-content: flex-end;
    background-color: #152844;
    margin-left: 60%;
    animation-name: fadeInRight;
    animation-duration: 2s; }

  .logo-greyhound {
    display: flex;
    align-items: center;
    margin-left: 15px; }

  .responsive {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px; }

  .hero_container {
    width: 100%; }

  .menu-mobile {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    list-style: none;
    margin: 10px; }

  .nav-list-mobile {
    line-height: 30px;
    color: white;
    padding: 15px; }

  .btn-menu-mobile {
    display: block; }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0); }
    to {
      opacity: 1;
      transform: none; } }
  .fundBoxLeft {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }

  .textLeft {
    margin-right: 0px; }

  .fundBoxRight {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }

  .textRight {
    margin-left: 0px; } }
/*fin susana*/
.footer {
  width: 100%;
  background-color: #152844;
  color: white;
  font-family: "Lato", sans-serif;
  position: relative;
  padding: 15px; }

.info {
  display: flex;
  margin-bottom: 5px;
  margin-left: 40px; }

.contact {
  width: 250px; }

.place {
  display: flex;
  font-size: 12px; }

.place img {
  width: 15px;
  margin-right: 5px; }

.place p {
  margin: 0;
  padding: 0; }

.icon {
  width: 30px;
  margin-right: 8px;
  transition: all 0.5s; }

.icon:hover {
  opacity: 0.8; }

.copyright {
  text-align: center;
  margin: 0; }

.hidden {
  display: none; }

/*# sourceMappingURL=index.css.map */
