@import "settings.scss";
@import "general.scss";
@import "components/buttons.scss";
@import "layout/header.scss";
@import "layout/hero.scss";
@import "pages/page1.scss";
@import "style.scss";
@import "helpers.scss";
@import "layout/funds.scss";
